---
# Let's add a comment to make this file sass-y.
# Change this file for any custom CSS.
---

/* We need to add display:inline in order to align the '>>' of the 'read more' link */
.post-excerpt p {
	display:inline;
}

.highlight {
	line-height: 1em;
	font-size: 0.75em;
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import
	"syntax"
;
